*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  }
body{
  background-color: blue;
}
body #container{
background-color: blue;
width: 100%;
height: 800px;
}
#container h1{
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  text-shadow: 3px 3px 8px black;
  font-weight: bolder;
  background-color: #6a1b9ac7;
  border-bottom: 5px solid #051fb1;
}
#container .go{
  cursor: pointer;
  position: absolute;
  display: block;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: auto;
  background:linear-gradient(orange, blue);
  border-radius: 30px;
  margin-left: 5%;
  overflow: hidden;
  margin-top: 28px;

}
#container .go p{
  font-weight: bolder;
}
main #first{
  display: flex;
  justify-content: center;
  align-items: center;
}
/* main #first .one{
  display: flex;
  justify-content: center;
  background-color: red;
  padding: 30px;
  margin: 7px;
  width: 10%;
  height: 10%;
} */
main #first .one-1{
  border-top-left-radius: 30px;
  display: flex;
  justify-content: center;
  background-color: #9c27b0;
  padding: 30px;
  margin: 7px;
  width: 10%;
  height: 10%;
  /* border-top-right-radius: 30px; */
}
main #first .one-2{
  display: flex;
  justify-content: center;
  background-color: #673ab7;
  padding: 30px;
  margin: 7px;
  width: 10%;
  height: 10%;
}
main #first .one-3{
  display: flex;
  justify-content: center;
  background-color:#3f51b5;
  padding: 30px;
  margin: 7px;
  width: 10%;
  height: 10%;
}
main #first .one-4{
  display: flex;
  justify-content: center;
  background-color: #2196f3;
  padding: 30px;
  margin: 7px;
  width: 10%;
  height: 10%;
}
main #first .one-5{
  display: flex;
  justify-content: center;
  background-color: #05c7e0;
  padding: 30px;
  margin: 7px;
  width: 10%;
  height: 10%;
}
main #first .one-6{
  display: flex;
  justify-content: center;
  background-color: #009688;
  padding: 30px;
  margin: 7px;
  width: 10%;
  height: 10%;
}
main #first .one-7{
  display: flex;
  justify-content: center;
  background-color: #4caf50;
  padding: 30px;
  margin: 7px;
  width: 10%;
  height: 10%;
}
main #first .one-8{
  display: flex;
  justify-content: center;
  background-color: #cddc39;
  padding: 30px;
  margin: 7px;
  width: 10%;
  height: 10%;
}
main #first .one-9{
  border-top-right-radius: 30px;
  display: flex;
  justify-content: center;
  background-color: #f7e54a;
  padding: 30px;
  margin: 7px;
  width: 10%;
  height: 10%;
}

/* know the second row is started from here */
main #second{
  display: flex;
  justify-content: center;
  align-items: center;
}
/* main #second .two{
  display: flex;
  justify-content: center;
  background-color: red;
  padding: 30px;
  margin: 7px;
  width: 10%;
  height: 10%;
} */
main #second .two-1{
  display: flex;
  justify-content: center;
  background-color: #ff8f00;
  padding: 30px;
  margin: 7px;
  width: 10%;
  height: 10%;
}
main #second .two-2{
  display: flex;
  justify-content: center;
  background-color: #9e6714;
  padding: 30px;
  margin: 7px;
  width: 10%;
  height: 10%;
}
main #second .two-3{
  display: flex;
  justify-content: center;
  background-color: #ff5722;
  padding: 30px;
  margin: 7px;
  width: 10%;
  height: 10%;
}
main #second .two-4{
  display: flex;
  justify-content: center;
  background-color: #795548;
  padding: 30px;
  margin: 7px;
  width: 10%;
  height: 10%;
}
main #second .two-5{
  display: flex;
  justify-content: center;
  background-color: #9e9e9e;
  padding: 30px;
  margin: 7px;
  width: 10%;
  height: 10%;
}
main #second .two-6{
  display: flex;
  justify-content: center;
  background-color: #607d8b;
  padding: 30px;
  margin: 7px;
  width: 10%;
  height: 10%;
}
main #second .two-7{
  display: flex;
  justify-content: center;
  background-color: #00ff9c;
  padding: 30px;
  margin: 7px;
  width: 10%;
  height: 10%;
}
main #second .two-8{
  display: flex;
  justify-content: center;
  background-color: #03315d;
  padding: 30px;
  margin: 7px;
  width: 10%;
  height: 10%;
}
main #second .two-9{
  display: flex;
  justify-content: center;
  background-color: #92de7d;
  padding: 30px;
  margin: 7px;
  width: 10%;
  height: 10%;
}


main #third{
  display: flex;
  justify-content: center;
  align-items: center;
}
main #third .three-1{
  display: flex;
  justify-content: center;
  background-color: #ff00003d;
  padding: 30px;
  margin: 7px;
  width: 10%;
  height: 10%;
  border: 1px solid black;
}
main #third .three-2{
  display: flex;
  justify-content: center;
  background-color: #0202025c;
  padding: 30px;
  margin: 7px;
  width: 10%;
  height: 10%;
  border: 1px solid black;
}
main #third .three-3{
  display: flex;
  justify-content: center;
  background-color: #ff1de833;
  padding: 30px;
  margin: 7px;
  width: 10%;
  height: 10%;
  border: 1px solid black;
}
main #third .three-4{
  display: flex;
  justify-content: center;
  background-color:#8ebd2899;
  padding: 30px;
  margin: 7px;
  width: 10%;
  height: 10%;
  border: 1px solid black;
}
main #third .three-5{
  display: flex;
  justify-content: center;
  background-color: #3282794d;
  padding: 30px;
  margin: 7px;
  width: 10%;
  height: 10%;
  border: 1px solid black;
}
main #third .three-6{
  display: flex;
  justify-content: center;
  background-color: #5a05327d;
  padding: 30px;
  margin: 7px;
  width: 10%;
  height: 10%;
  border: 1px solid black;
}
main #third .three-7{
  display: flex;
  justify-content: center;
  background-color: #ffb70069;
  padding: 30px;
  margin: 7px;
  width: 10%;
  height: 10%;
  border: 1px solid black;
}
main #third .three-8{
  display: flex;
  justify-content: center;
  background-color: #8000ff99;
  padding: 30px;
  margin: 7px;
  width: 10%;
  height: 10%;
  border: 1px solid black;
}
main #third .three-9{
  display: flex;
  justify-content: center;
  background-color: #27ad5a59;
  padding: 30px;
  margin: 7px;
  width: 10%;
  height: 10%;
  border: 1px solid black;
}


/* forth row is start from here */
main #forth{
  display: flex;
  justify-content: center;
  align-items: center;
}
main #forth .for-1{
  display: flex;
  justify-content: center;
  background-color: #421d1d;
  padding: 30px;
  margin: 7px;
  width: 10%;
  height: 10%;
}
main #forth .for-2{
  display: flex;
  justify-content: center;
  background-color: #44177b;
  padding: 30px;
  margin: 7px;
  width: 10%;
  height: 10%;
}
main #forth .for-3{
  display: flex;
  justify-content: center;
  background-color: #f991b5;
  padding: 30px;
  margin: 7px;
  width: 10%;
  height: 10%;
}
main #forth .for-4{
  display: flex;
  justify-content: center;
  background-color: #89ff00;
  padding: 30px;
  margin: 7px;
  width: 10%;
  height: 10%;
}
main #forth .for-5{
  display: flex;
  justify-content: center;
  background-color: #e26614;
  padding: 30px;
  margin: 7px;
  width: 10%;
  height: 10%;
}
main #forth .for-6{
  display: flex;
  justify-content: center;
  background-color: #083833;
  padding: 30px;
  margin: 7px;
  width: 10%;
  height: 10%;
}
main #forth .for-7{
  display: flex;
  justify-content: center;
  background-color: #ece17e;
  padding: 30px;
  margin: 7px;
  width: 10%;
  height: 10%;
}
main #forth .for-8{
  display: flex;
  justify-content: center;
  background-color: #733232;
  padding: 30px;
  margin: 7px;
  width: 10%;
  height: 10%;
}
main #forth .for-9{
  display: flex;
  justify-content: center;
  background-color: #1d3500;
  padding: 30px;
  margin: 7px;
  width: 10%;
  height: 10%;
}

/* fifth row start from here */
main #fifth{
  display: flex;
  justify-content: center;
  align-items: center;
}
main #fifth .fiv-1{
  display: flex;
  justify-content: center;
  background-color: #604af3;
  padding: 30px;
  margin: 7px;
  width: 10%;
  height: 10%;
}
main #fifth .fiv-2{
  display: flex;
  justify-content: center;
  background-color: #60af04;
  padding: 30px;
  margin: 7px;
  width: 10%;
  height: 10%;
}
main #fifth .fiv-3{
  display: flex;
  justify-content: center;
  background-color: #c79800;
  padding: 30px;
  margin: 7px;
  width: 10%;
  height: 10%;
}
main #fifth .fiv-4{
  display: flex;
  justify-content: center;
  background-color: #051fb1;
  padding: 30px;
  margin: 7px;
  width: 10%;
  height: 10%;
}
main #fifth .fiv-5{
  display: flex;
  justify-content: center;
  background-color: #21865a;
  padding: 30px;
  margin: 7px;
  width: 10%;
  height: 10%;
}
main #fifth .fiv-6{
  display: flex;
  justify-content: center;
  background-color: #7b4ad0;
  padding: 30px;
  margin: 7px;
  width: 10%;
  height: 10%;
}
main #fifth .fiv-7{
  display: flex;
  justify-content: center;
  color: white;
  background-color: #100215;
  padding: 30px;
  margin: 7px;
  width: 10%;
  height: 10%;
}
main #fifth .fiv-8{
  display: flex;
  justify-content: center;
  background-color: #011c21;
  color: white;
  padding: 30px;
  margin: 7px;
  width: 10%;
  height: 10%;
}
main #fifth .fiv-9{
  display: flex;
  justify-content: center;
  background-color: #09ff00;
  padding: 30px;
  margin: 7px;
  width: 10%;
  height: 10%;
}


/* sixth row start from here */
main #sixth{
  display: flex;
  justify-content: center;
  align-items: center;
}

main #sixth .six-1{
  display: flex;
  justify-content: center;
  background-color: #ff6868;
  padding: 30px;
  margin: 7px;
  width: 10%;
  height: 10%;
  border-bottom-left-radius: 30px;
}
main #sixth .six-2{
  display: flex;
  justify-content: center;
  background-color: #b1a7a7;
  padding: 30px;
  margin: 7px;
  width: 10%;
  height: 10%;
}
main #sixth .six-3{
  display: flex;
  justify-content: center;
  background-color: #bd3939;
  padding: 30px;
  margin: 7px;
  width: 10%;
  height: 10%;
}
main #sixth .six-4{
  display: flex;
  justify-content: center;
  background-color: #00ff55;
  padding: 30px;
  margin: 7px;
  width: 10%;
  height: 10%;
}
main #sixth .six-5{
  display: flex;
  justify-content: center;
  background-color: #008005ba;
  padding: 30px;
  margin: 7px;
  width: 10%;
  height: 10%;
  border: 1px solid black;
}
main #sixth .six-6{
  display: flex;
  justify-content: center;
  background-color: #da00ff;
  padding: 30px;
  margin: 7px;
  width: 10%;
  height: 10%;
  border: 1px solid black;
}
main #sixth .six-7{
  display: flex;
  justify-content: center;
  background-color: #6d5e5e85;
  padding: 30px;
  margin: 7px;
  width: 10%;
  height: 10%;
  border: 1px solid black;
}
main #sixth .six-8{
  display: flex;
  justify-content: center;
  background-color: #da00ff80;
  padding: 30px;
  margin: 7px;
  width: 10%;
  height: 10%;
  border: 1px solid black;
}
main #sixth .six-9{
  display: flex;
  justify-content: center;
  background-color: #00000024;
  padding: 30px;
  margin: 7px;
  width: 10%;
  height: 10%;
  border: 1px solid black;
  border-bottom-right-radius: 30px;
}
footer{
  width: 100%;
  height: 100px;
  text-transform: uppercase;
  font-size: 30px;
  text-align: center;
  background-color: #6a1b9ac7;
  color: black;
  text-shadow: 3px 3px 8px black;
}
footer .bottom{
  padding-top: 30px;
}
